.Body_Big_Container {
    height: 100%;
    width: 100px;
    margin-left: 600px;
    margin-top: -500px;




}



.Body_Big_Container_box{
    height: 300px;
    width: 500px;
    margin-left: -360px;
    background-color: gainsboro;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}